.super-mario {
  left: 700px;
  position: absolute;
  width: 50%;
}

.goomba {
  float: inline-end;
  width: 50%;
}

.word {
  margin-left: 60px;
  margin-top: 300px;
  position: absolute;
  z-index: 1;
}

.baloon {
  position: absolute;
  top: 1265px;
  right: 1040px;
}

.bowser {
  position: absolute;
  right: 500px;
  top: 1470px;
}